<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="beanFactory" class="com.twy.demo2.MyBeanFactory"></bean>
	<bean id="userService" factory-bean="beanFactory" factory-method="createUser"></bean>
	
</beans>
